* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: rgb(230, 157, 157);
}
h1 {
  font-size: 4em;
  color: #dbedf3;
  font-family: sans-serif;
}
.set button {
  background-image: url(./image.jpg);
  background-position: center;
}
.set {
  margin: 10% auto;
}
.animation {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
